<div id="<%= dom_id education %>">
  <p>
    <strong>Level:</strong>
    <%= education.level %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= education.course %>
  </p>

  <p>
    <strong>University:</strong>
    <%= education.university %>
  </p>

  <p>
    <strong>Passed year:</strong>
    <%= education.passed_year %>
  </p>

  <p>
    <strong>Gpa:</strong>
    <%= education.gpa %>
  </p>

  <p>
    <strong>Anticipated passed year:</strong>
    <%= education.anticipated_passed_year %>
  </p>

</div>
